# Service file: /usr/share/dbus-1/services/test.service
[D-BUS Service]
Name=org.freedesktop.container
Exec="/usr/local/share/gdocker/dockyard_daemon" 
User=oly
