[Desktop Entry]
Version=1.0
Name=GDocker
GenericName=GTK Docker GUI
X-GNOME-FullName=GTK Docker GUI
Comment=GTK Frontend for managing docker containers locally
Type=Application
Categories=Graphics;VectorGraphics;GTK;
MimeType=image/svg+xml;image/svg+xml-compressed;application/vnd.corel-draw;image/x-eps;application/illustrator;
Exec=gdcoker %F
TryExec=GDocker
Terminal=false
StartupNotify=true
Icon=gdocker
X-Ubuntu-Gettext-Domain=GDocker
DBusActivatable=true
